<!-- BLOCK: Hero with title, subtitle, CTA + swiper carousel -->
    <header class="section utility-overflow-hidden">
      <div class="container utility-max-width-90">
        <div id="w-node-eb446723-2e6b-cd5f-2d7d-ab0a9bb3ba18-9bb3ba16" class="w-layout-grid grid-layout desktop-5-column tablet-1-column grid-gap-md y-bottom utility-margin-bottom-4rem w-node-b68c3389-b8fc-722a-2229-dd568139dffc-5b211c3a">
          <div id="w-node-eb446723-2e6b-cd5f-2d7d-ab0a9bb3ba19-9bb3ba16" class="utility-container-cqw w-node-b68c3389-b8fc-722a-2229-dd568139dff3-5b211c3a">
            <h1 class="heading-responsive-lg utility-margin-bottom-0">{{coverHeadline}}</h1>
          </div>
          <div id="w-node-eb446723-2e6b-cd5f-2d7d-ab0a9bb3ba1c-9bb3ba16" class="utility-max-width-sm w-node-b68c3389-b8fc-722a-2229-dd568139dffb-5b211c3a">
            <p class="subheading">{{coverSubheading}}</p>
            <div class="button-group">
              <a href="#" class="button full w-button" onclick="event.preventDefault();var next=this.closest('.section, header').nextElementSibling;if(next)next.scrollIntoView({behavior:'smooth'});">Comenzar</a>
            </div>
          </div>
        </div>
        <div class="hero-swiper-wrapper">
          <div class="swiper hero-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide slide-wide"><img src="../images/orinoquia-2.png" alt="" loading="lazy" srcset="../images/orinoquia-2-p-500.png 500w, ../images/orinoquia-2-p-800.png 800w, ../images/orinoquia-2.png 2020w"></div>
              <div class="swiper-slide slide-tall"><img src="../images/8.jpg" alt="" loading="lazy" srcset="../images/8-p-500.jpg 500w, ../images/8-p-800.jpg 800w, ../images/8.jpg 1080w"></div>
              <div class="swiper-slide slide-mid"><img src="../images/dr-mush.png" alt="" loading="lazy" srcset="../images/dr-mush-p-500.png 500w, ../images/dr-mush-p-800.png 800w, ../images/dr-mush-p-1080.png 1080w, ../images/dr-mush.png 1594w"></div>
              <div class="swiper-slide slide-tall"><img src="../images/orinoquia.png" alt="" loading="lazy" srcset="../images/orinoquia-p-500.png 500w, ../images/orinoquia-p-800.png 800w, ../images/orinoquia.png 876w"></div>
              <div class="swiper-slide slide-wide"><img src="../images/sl17.png" alt="" loading="lazy" srcset="../images/sl17-p-500.png 500w, ../images/sl17-p-800.png 800w, ../images/sl17.png 1024w"></div>
              <div class="swiper-slide slide-mid"><img src="../images/bsocial-3.png" alt="" loading="lazy" srcset="../images/bsocial-3-p-500.png 500w, ../images/bsocial-3-p-800.png 800w, ../images/bsocial-3-p-1080.png 1080w, ../images/bsocial-3.png 2050w"></div>
              <div class="swiper-slide slide-wide"><img src="../images/bsocial-2.png" alt="" loading="lazy" srcset="../images/bsocial-2-p-500.png 500w, ../images/bsocial-2-p-800.png 800w, ../images/bsocial-2.png 900w"></div>
              <div class="swiper-slide slide-tall"><img src="../images/sv8oOQaUb-o.jpg" alt="" loading="lazy" srcset="../images/sv8oOQaUb-o-p-500.jpg 500w, ../images/sv8oOQaUb-o.jpg 600w"></div>
              <div class="swiper-slide slide-wide"><img src="../images/orinoquia-2.png" alt="" loading="lazy" srcset="../images/orinoquia-2-p-500.png 500w, ../images/orinoquia-2-p-800.png 800w, ../images/orinoquia-2.png 2020w"></div>
              <div class="swiper-slide slide-tall"><img src="../images/8.jpg" alt="" loading="lazy" srcset="../images/8-p-500.jpg 500w, ../images/8-p-800.jpg 800w, ../images/8.jpg 1080w"></div>
              <div class="swiper-slide slide-mid"><img src="../images/dr-mush.png" alt="" loading="lazy" srcset="../images/dr-mush-p-500.png 500w, ../images/dr-mush-p-800.png 800w, ../images/dr-mush-p-1080.png 1080w, ../images/dr-mush.png 1594w"></div>
              <div class="swiper-slide slide-tall"><img src="../images/orinoquia.png" alt="" loading="lazy" srcset="../images/orinoquia-p-500.png 500w, ../images/orinoquia-p-800.png 800w, ../images/orinoquia.png 876w"></div>
              <div class="swiper-slide slide-wide"><img src="../images/sl17.png" alt="" loading="lazy" srcset="../images/sl17-p-500.png 500w, ../images/sl17-p-800.png 800w, ../images/sl17.png 1024w"></div>
              <div class="swiper-slide slide-mid"><img src="../images/bsocial-3.png" alt="" loading="lazy" srcset="../images/bsocial-3-p-500.png 500w, ../images/bsocial-3-p-800.png 800w, ../images/bsocial-3-p-1080.png 1080w, ../images/bsocial-3.png 2050w"></div>
              <div class="swiper-slide slide-wide"><img src="../images/bsocial-2.png" alt="" loading="lazy" srcset="../images/bsocial-2-p-500.png 500w, ../images/bsocial-2-p-800.png 800w, ../images/bsocial-2.png 900w"></div>
              <div class="swiper-slide slide-tall"><img src="../images/sv8oOQaUb-o.jpg" alt="" loading="lazy" srcset="../images/sv8oOQaUb-o-p-500.jpg 500w, ../images/sv8oOQaUb-o.jpg 600w"></div>
            </div>
          </div>
        </div>
      </div>
    </header>
