<!-- BLOCK: Navbar with logo + CTA -->
    <div role="banner" class="navbar w-nav">
      <div class="home-nav w-container">
        <a href="https://www.vanalva.io/" class="brand w-nav-brand">
          <div class="main-logo-div">
            <div id="logo-vanalva" class="logo-vanalva"></div>
          </div>
        </a>
        <div data-w-id="0ef8604e-e03a-8ad3-f84a-9b182e118013" class="main-menu-toggle-out"></div>
        <a href="#detalle-y-contrato" class="button secondary-button w-button" onclick="event.preventDefault();document.getElementById('detalle-y-contrato').scrollIntoView({behavior:'smooth'});">Detalle y Contrato</a>
      </div>
      <div id="view-portfolio" class="view-portfolio">
        <a href="https://www.vanalva.io/portfolio" class="w-inline-block">
          <div id="portfolio-lottie" class="view-portfolio-anim"></div>
        </a>
      </div>
    </div>
