<!-- BLOCK: Full-width "Milky Branding" hero header -->
    <header data-record-id="d5071124-078c-47d7-65f2-4b75c3539c29" class="section">
      <div class="container full-width-container">
        <div id="w-node-_6dd82fed-fcd9-4a8c-7e32-3c165081de38-5081de36" class="w-layout-grid grid-layout desktop-1-column grid-gap-md w-node-_72b948a5-3bb2-48fd-eabb-315c09f1c6ca-5b211c3a">
          <div id="w-node-_6dd82fed-fcd9-4a8c-7e32-3c165081de39-5081de36" class="container utility-container-cqw w-node-_72b948a5-3bb2-48fd-eabb-315c09f1c6be-5b211c3a">
            <div class="ix-hero-intro-slide-up step-1-hero-intro-slide-up">
              <h2 class="heading-responsive-xl utility-text-all-caps utility-margin-bottom-0">Milky</h2>
            </div>
            <div class="ix-hero-intro-slide-up step-2-hero-intro-slide-up">
              <h2 class="heading-responsive-xl utility-text-all-caps utility-margin-bottom-0">Branding</h2>
            </div>
          </div>
          <div class="container">
            <div class="grid-layout desktop-3-column tablet-2-column mobile-landscape-1-column grid-gap-lg">
              <div class="ix-hero-intro-slide-up step-4-hero-intro-slide-up">
                <p>Estratégica y Creativa para Destacar en cualquier mercado</p>
              </div>
              <div id="w-node-_6dd82fed-fcd9-4a8c-7e32-3c165081de48-5081de36" class="ix-hero-intro-slide-up step-5-hero-intro-slide-up w-node-_72b948a5-3bb2-48fd-eabb-315c09f1c6c4-5b211c3a">
                <p>Eleva tu Marca Conmigo / Construyamos tu Legado de Marca / Descubre tu Identidad </p>
              </div>
              <div class="ix-hero-intro-slide-up step-5-hero-intro-slide-up"><img src="../images/milky-branding-logo-yellow.png" loading="lazy" sizes="100vw" srcset="../images/milky-branding-logo-yellow-p-500.png 500w, ../images/milky-branding-logo-yellow-p-800.png 800w, ../images/milky-branding-logo-yellow.png 1449w" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </header>
