<!-- BLOCK: Generic "Why this service" value proposition -->
    <section class="section">
      <div class="container">
        <div class="w-layout-grid grid-layout desktop-3-column mobile-landscape-1-column grid-gap-md">
          <div style="grid-area: span 1 / span 2 / span 1 / span 2;">
            <h2 class="h1-heading">{{genericWhyHeading}}</h2>
            <div class="rich-text paragraph-lg utility-margin-bottom-0 w-richtext">
              {{genericWhyText}}
            </div>
          </div>
          <div>
            <div class="flex-vertical x-left flex-gap-xxs">
              {{GENERIC_WHY_TAGS}}
            </div>
          </div>
        </div>
      </div>
    </section>
