<!-- BLOCK: Generic parallax text header for any highlighted service -->
    <header class="section utility-overflow-hidden">
      <div class="container full-width-container">
        <div class="w-layout-grid grid-layout desktop-1-column grid-gap-md">
          <div>
            <h1 class="utility-screen-reader-visible-only">{{genericHeroTitle}}</h1>
            <div class="ix-parallax-x-right-20">
              <h2 class="heading-responsive-xl tv-section-title utility-text-all-caps utility-margin-bottom-0 utility-text-align-center">{{genericHeroLine1}}</h2>
            </div>
            <div class="ix-parallax-x-left-20 utility-z-index-2">
              <h2 class="heading-responsive-xl tv-section-title utility-text-all-caps utility-margin-bottom-0 utility-text-align-center">{{genericHeroLine2}}</h2>
            </div>
            <div class="ix-parallax-x-right-20">
              <h2 class="heading-responsive-xl tv-section-title utility-text-all-caps utility-margin-bottom-0 utility-text-align-center">{{genericHeroLine3}}</h2>
            </div>
          </div>
          <div class="container">
            <div class="grid-layout desktop-3-column tablet-2-column mobile-landscape-1-column grid-gap-lg">
              <div class="ix-hero-intro-slide-up step-4-hero-intro-slide-up">
                <p>{{genericHeroSubtitle1}}</p>
              </div>
              <div class="ix-hero-intro-slide-up step-5-hero-intro-slide-up">
                <p>{{genericHeroSubtitle2}}</p>
              </div>
              {{GENERIC_HERO_IMAGE}}
            </div>
          </div>
        </div>
      </div>
    </header>
